<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sus data collection</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <form id="susForm">
        <div class="questionContainer">
            <fieldset id="q1">
                <div class="questionHead">
                    What is your preferred technology?
                </div>
                <div class="questionBox">
                    <div class="back">
                        &blacktriangleleft;
                    </div>
                    <div class="answerList">
                        <input type="radio" value="PC" name="q1">
                        <label for="PC">PC</label><br>
                        <input type="radio" value="Mac" name="q1">
                        <label for="Mac">Mac</label><br>
                        <input type="radio" value="Android" name="q1">
                        <label for="Android">Android</label><br>
                        <input type="radio" value="iPhone" name="q1">
                        <label for="iPhone">iPhone</label><br>
                    </div>
                    <div class="forward">
                        &blacktriangleright;
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="questionContainer">
            <fieldset id="q2">
                <div class="questionHead">
                    Do you watch anime?
                </div>
                <div class="questionBox">
                    <div class="back">
                        &blacktriangleleft;
                    </div>
                    <div class="answerList">
                        <input type="radio" value="Yes" name="q2">
                        <label for="Yes">Yes</label><br>
                        <input type="radio" value="No" name="q2">
                        <label for="No">No</label><br>
                    </div>
                    <div class="forward">
                        &blacktriangleright;
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="questionContainer">
            <fieldset id="q3">
                <div class="questionHead">
                    What is your favorite genre of music?
                </div>
                <div class="questionBox">
                    <div class="back">
                        &blacktriangleleft;
                    </div>
                    <div class="answerList">
                        <input type="radio" value="Rock" name="q3">
                        <label for="Rock">Rock</label><br>
                        <input type="radio" value="Rap" name="q3">
                        <label for="Rap">Rap</label><br>
                        <input type="radio" value="Hip-Hop" name="q3">
                        <label for="Hip-Hop">Hip-Hop</label><br>
                        <input type="radio" value="Country" name="q3">
                        <label for="Country">Country</label><br>
                        <input type="radio" value="Jazz" name="q3">
                        <label for="Jazz">Jazz</label><br>
                        <input type="radio" value="Classical" name="q3">
                        <label for="Classical">Classical</label><br>
                        <input type="radio" value="Other" name="q3">
                        <label for="Other">Other</label><br>
                    </div>
                    <div class="forward">
                        &blacktriangleright;
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="questionContainer">
            <fieldset id="q4">
                <div class="questionHead">
                    Should people be allowed to repair their devices?
                </div>
                <div class="questionBox">
                    <div class="back">
                        &blacktriangleleft;
                    </div>
                    <div class="answerList">
                        <input type="radio" value="Yes" name="q4">
                        <label for="Yes">Yes</label><br>
                        <input type="radio" value="No" name="q4">
                        <label for="No">No</label><br>
                    </div>
                    <div class="forward">
                        &blacktriangleright;
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="questionContainer">
            <fieldset id="q5">
                <div class="questionHead">
                    Which is better: IPhone or Android?
                </div>
                <div class="questionBox">
                    <div class="back">
                        &blacktriangleleft;
                    </div>
                    <div class="answerList">
                        <input type="radio" value="Android" name="q5">
                        <label for="Android">Android</label><br>
                        <input type="radio" value="iPhone" name="q5">
                        <label for="iPhone">iPhone</label><br>
                    </div>
                    <div class="forward">
                        &blacktriangleright;
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="questionContainer">
            <fieldset id="q6">
                <div class="questionHead">
                    Which country would you prefer to visit?
                </div>
                <div class="questionBox">
                    <div class="back">
                        &blacktriangleleft;
                    </div>
                    <div class="answerList">
                        <input type="radio" value="Canada" name="q6">
                        <label for="Canada">Canada</label><br>
                        <input type="radio" value="Japan" name="q6">
                        <label for="Japan">Japan</label><br>
                        <input type="radio" value="Russia" name="q6">
                        <label for="Russia">Russia</label><br>
                        <input type="radio" value="China" name="q6">
                        <label for="China">China</label><br>
                        <input type="radio" value="United Kingdom" name="q6">
                        <label for="United Kingdom">United Kingdom</label><br>
                    </div>
                    <div class="forward">
                        &blacktriangleright;
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="questionContainer">
            <fieldset id="q7">
                <div class="questionHead">
                    Are you employed?
                </div>
                <div class="questionBox">
                    <div class="back">
                        &blacktriangleleft;
                    </div>
                    <div class="answerList">
                        <input type="radio" value="Yes" name="q7">
                        <label for="Yes">Yes</label><br>
                        <input type="radio" value="No" name="q7">
                        <label for="No">No</label><br>
                    </div>
                    <div class="forward">
                        &blacktriangleright;
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="questionContainer">
            <fieldset id="q8">
                <div class="questionHead">
                    Which hobby do you enjoy most?
                </div>
                <div class="questionBox">
                    <div class="back">
                        &blacktriangleleft;
                    </div>
                    <div class="answerList">
                        <input type="radio" value="Hiking" name="q8">
                        <label for="Hiking">Hiking</label><br>
                        <input type="radio" value="Playing Video Games" name="q8">
                        <label for="Playing Video Games">Playing Video Games</label><br>
                        <input type="radio" value="Watching Movies/Shows" name="q8">
                        <label for="Watching Movies/Shows">Watching Movies/Shows</label><br>
                        <input type="radio" value="Reading" name="q8">
                        <label for="Reading">Reading</label><br>
                        <input type="radio" value="Other" name="q8">
                        <label for="Other">Other</label><br>
                    </div>
                    <div class="forward">
                        &blacktriangleright;
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="questionContainer">
            <fieldset id="q9">
                <div class="questionHead">
                    Do you prefer Rural or Urban areas better?
                </div>
                <div class="questionBox">
                    <div class="back">
                        &blacktriangleleft;
                    </div>
                    <div class="answerList">
                        <input type="radio" value="Rural" name="q9">
                        <label for="Rural">Rural</label><br>
                        <input type="radio" value="Urban" name="q9">
                        <label for="Urban">Urban</label><br>
                    </div>
                    <div class="forward">
                        &blacktriangleright;
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="questionContainer">
            <fieldset id="q10">
                <div class="questionHead">
                    Which are better: Dogs or Cats
                </div>
                <div class="questionBox">
                    <div class="back">
                        &blacktriangleleft;
                    </div>
                    <div class="answerList">
                        <input type="radio" value="Dogs" name="q10">
                        <label for="Dogs">Dogs</label><br>
                        <input type="radio" value="Cats" name="q10">
                        <label for="Cats">Cats</label><br>
                    </div>
                    <div class="forward">
                        <input type="submit">
                    </div>
                </div>
            </fieldset>
        </div>
    </form>
</body>


<script>
    let index = 0;
    let questions = document.getElementsByClassName("questionContainer");
    questions[0].style.display = "block"

    let forwardButtons = document.getElementsByClassName("forward");
    let backwardButtons = document.getElementsByClassName("back");

    for (let index = 0; index < forwardButtons.length; index++) {
        const element = forwardButtons[index];
        element.addEventListener("click", () => {
            advance();
        })
    }
    for (let index = 0; index < backwardButtons.length; index++) {
        const element = backwardButtons[index];
        element.addEventListener("click", () => {
            reverse();
        })
    }
    let advance = () => {
        questions[index].style.display = "none";
        if (index < questions.length-1) {
            index++;
        }
        questions[index].style.display = "block";
    }
    let reverse = () => {
        questions[index].style.display = "none";
        if (index != 0) {
            index--;
        }
        questions[index].style.display = "block";
    }
</script>

</html>